// colors
$colorBody: #323232;
$colorBrown: #ebae77; 
$colorWhite: #FFFFFF;

// font-size
$fsTitle: 28px;
$fsMenu: 19px;
$fsParagraphe: 14px;
$fsFooter: 12px;

// font-weight
$fwBold: 700;
$fwNormal: 400;
$fwLight: 300;

// font-family 
$font: 'Yantramanav', sans-serif;
